* {
	font-family: Verdana;
}

.green {  
  color: #7ECC49;
}

.red {
  color: #FF8D85;
}

h1, h2, h3, p {
	text-align: left;
}

table {
  /*font-family: arial, sans-serif;*/
  margin: auto;
  border-collapse: collapse;
  /*width: 100%;*/
}

td, th {
  text-align: right;
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  /*margin-left: auto;
  margin-right: auto;*/
  margin: auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
}